
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #141414;
 
}







header{
    background-color: #101010;
    width: 100%;
    padding: 20px;
    display: flex;
    height: 70px;
    box-shadow: 10px 10px 10px 5px rgba(44, 44, 44, 0.212);
    align-items: center;
    justify-content: space-between;
}
    a.menu{
        padding: 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        align-items: center;
    }
        input.buscarvideos{
            padding: 5px;
            width: 250px;
            border-radius: 5px;
        }
        button.btnbuscar{
            padding: 5px;
            border-radius: 5px;
            width: 80px ;
        }
        button.btnbuscar:hover{
            cursor: pointer;
            background-color: #fac000;
            color: #fff;
           
        }
    .menu:hover{
        background-color: #fac000;
        border-radius: 20px;
    }
    div.logo{
        width: 80px;
        height: 80px;
        border-radius: 5px;
        margin-top: 15px;  
    }
    img.logoimg{
        width: 80%; 
    }
    img.logoimg:hover{
        width: 90%;
        margin-top: -5px;
    }








section.title{
    /*background-color: rgb(255, 0, 191);*/
}
    h1{
        color: #fff;
        text-align: center;
        margin: 30px 0px 0px 0px;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    p.titlep{
        color: #141414;
        background-color: #fac000;
        max-width: 600px;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 20px;
    }








section.center{
    /*background-color: green;*/
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-style: solid;
    margin-top: -3px;
    border-color: #fac000;

}
    a.listainicial{
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
    img.listainicial:hover{
        width: 85%;
        margin-bottom: -10px;

    }
    img.listainicial{
        width: 80%;

    }










section.container{
    /*background-color: darkgoldenrod;*/
    width: 1200px;
    max-width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;  

}
    section.containersub1{
        /*background-color: aqua;*/
        padding: 10px;
        width: 600px;
        height: 300px;
        max-width: 100%;
    
    }

        iframe.videodestaque{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

    section.containersub2{
        /*background-color: darkmagenta;*/
        display: inline-block;
        padding: 10px;
        max-width: 100%;
        width: 500px;


    }
    div.descricaovideo1{
        /*background-color: red;*/

    }
        h3.descricaovideo1{
            text-align: center;
            background-image: linear-gradient(to bottom, #333, #14141400 ,#14141400);
            color: #fff;
            border-radius: 20px;
            font-size: 40px;
  
            
        }
        h4.descricaovideo1{
            font-size: 20px;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
        p.descricaovideo1{
            text-align: justify;
            color: #fff;
            
        }
    div.titulovideossecundarios{
        /*background-color: blue;*/
    }
        h4.textotitulovideossecundarios{
            width: 50%;
            background-color: #fac000;
            margin: auto;
            text-align: center;
            margin-top: 10px;
            margin-bottom: -3px;
            color: #141414;
            border-radius: 20px;
        }
    div.mastervideossecundarios{
        /*background-color: green;*/
        display: flex;;
        border-style: solid;
        width: 80%;
        margin: auto;
        border-color: #fac000 ;

    }

    div.videossecundarios{
        padding: 10px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
        img.videossecundarios:hover{
            width: 105%;
            margin-bottom: -10px;            
        }
    img.videossecundarios{
        width: 100%;
        margin-bottom: -5px;
    }